# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# TypeScript
dist/
*.tsbuildinfo

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sw?

# Render build cache
.cache/